* {
  --font-Karla: "Karla", sans-serif;
  --font-Markazi: "Markazi Text", serif;
  --primary-green: #495e57;
  --primary-yellow: #f4ce14;
  --secondary-orange: #ee9972;
  --secondary-beige: #fbdabb;
  --secondary-grey: #edefee;
  --secondary-black: #333333;
  --dark-grey: rgb(92, 92, 92);
  padding: 0px;
  margin: 0px;
}

li {
  list-style-type: none;
  font-size: 16px;
  font-weight: bold;
  font-family: var(--font-Karla);
  color: var(--secondary-black);
}

.nav-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10vw;
}

.active-link {
  background-color: #495e57;
  border-radius: 8px;
  color: white;
  padding: 5px 10px;
}

.links-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navbar-hamburger {
  display: none;
}

.navbar-standard {
  display: block;
}

@media (max-width: 810px) {
  .navbar-hamburger {
    display: block;
  }

  .navbar-standard {
    display: none;
  }
}
